<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card">
        <div class="card-header">
          <h4>{{ jobInfo.job.name }}</h4>
        </div>
      </div>
      <div class="card-block">
        <table>
          <theader>
            <tr>
              <th>
                DYNO SIZE
              </th>
              <th>
                FREQUENCY
              </th>
              <th>
                LAST RUN
              </th>
              <th>
                NEXT DUE
              </th>
            </tr>
          </theader>
          <tbody>
            <tr show-panel job-id='jobId'></tr>
            <tr edit-panel job-id='jobId'></tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <!-- View adapts to state. Only parent panel knows of state. -->
        <span>
          <button ng-hide="editState" ng-click="toggleEditState()">edit</button>
          <button ng-show="editState" ng-click="toggleEditState()">save</button>
        </span>
        <span>
          <button ng-hide="editState" ng-click="toggleEditState()">remove</button>
          <button ng-show="editState" ng-click="toggleEditState()">cancel</button>
        </span>
      </div>
    </div>
  </div>
</div>
